@use "variables" as v;

@mixin flex($rem: 1rem) {
  display: flex;
  gap: $rem;
}

@mixin grid($column, $fr) {
  display: grid;
  grid-template-columns: repeat($column, $fr);
}

@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin desktopXL {
  @media (min-width: v.$desktopXL) {
    @content;
  }
}
